body{
    margin: 0;
    padding:0;
}
header{
    display:flex;
    justify-content: space-around;
}
.contenedor-logo{
    display:flex;
    justify-content: space-between;
}
.logo{
    width:6rem;
    height: 3.5rem;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap:1rem;
}

.tickets{
    color:green;
}
.contenedor-carrusel{
    display:flex;
    justify-content: end;
}

.primer{
    background-image: url("../img/hawaii.jpg");
}
.segundo{
    background-image: url("../img/hawaii2.jpg");
}
.tercer{
    background-image: url("../img/hawaii3.jpg");
}

.contenedor-descripciones{
    display:flex;
    flex-direction: column;
    width:50%;
    height:50vh;
    align-items: end;
    gap:2rem;
    color:white;
}
.carrusel-botones{
    display:flex;
    justify-content: end;
}
.btn{
    color:white;
    margin-right:1rem;
}

