body{
    margin: 0;
    padding:0;
}
header{
    display:flex;
    justify-content: space-around;
}
.contenedor-logo{
    display:flex;
    justify-content: space-between;
}
.logo{
    width:6rem;
    height: 3.5rem;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap:1rem;
}

.tickets{
    color:green;
}

